@import '../../../../variables.scss';

.wrap {
  margin-right: 60px;
  padding: 20px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text {
  margin-top: 40px;
  @include descriptionContent;
}

.flip {
  height: 150px;
  overflow: hidden;
}

.flip div:first-child {
  animation: show 5s linear infinite alternate;
}

@keyframes show {
  0% {
    margin-top: -250px;
  }
  33% {
    margin-top: -200px;
  }
  50% {
    margin-top: -180px;
  }
  60% {
    margin-top: -150px;
  }
  71% {
    margin-top: -100px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -250px;
  }
}

@media screen and (max-width: 1200px) {
  .text {
    margin-top: 20px;
    @include descriptionContent;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 992px) {
  .text {
    margin-top: 15px;
    @include descriptionContent;
    font-size: 1.5rem;
  }
  .wrap {
    margin-right: 40px;
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    @include descriptionContent;
    font-size: 0.9rem;
    line-height: 1.6125rem;
  }
}

@media screen and (max-width: 500px) {
  .text {
    @include descriptionContent;
    font-size: 0.8rem;
    line-height: 1.3125rem;
  }
  .wrap {
    margin-right: 20px;
    max-width: 240px;
  }
  .flip {
    height: 80px;
  }
}

@media screen and (max-width: 350px) {
  .text {
    @include descriptionContent;
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .flip {
    height: 50px;
  }
}
