@import '../../../variables.scss';

.textLogo {
  margin-left: 7px;
  @include textLogo;
}

.wrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.2rem;
  color: $color-white;
}

@media screen and (max-width: 768px) {
  .textLogo {
    margin-left: 3px;
    @include textLogo;
    font-size: 1.5rem;
  }
  .icon {
    font-size: 1.5rem;
  }
}
