@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    font-size: 16px;
    font-weight: 400;
    color: #778899;
    background-color: #efefef;
}

.btn {
    border: 1px solid #d0d0d0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: all 0.5s easy 0s;
}

.btn:hover {
    cursor: pointer;
    border-color: #000;
    transition-duration: 0.5s;
}

.link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* h2 */
.title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #000;
}

/* h3 */
.sub-title {
    color: #000;
    font-weight: 400;
    font-size: 1.125em;
}

/* label, .contact-form__text,  */
.text-2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.5em;
}

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.link-orange-color {
    color: orange;
}

.span-green-color {
    color: #adff2f;
}

.span-blue-color {
    color: #00bfff;
}
/* burger btn */
.main-navigation-menu-button {
    display: none;
}

.responsive-navigation {
    display: none;
}
/* ! Header start */
.header {
    display: flex;
    flex-direction: column;
}

.header__inner-block {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.logo__text {
    font-size: 2em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.logo__text--orange {
    margin-right: 2px;
    color: #ffa500;
}

.social-block__list {
    display: flex;
}

.social-block__list-item {
    margin: 0 2px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__inner-nav {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-block {
    display: flex;
}

.search-block__btn {
    margin: 2px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation__list {
    display: flex;
}

.main-navigation__list > li:not(:first-child)::before {
    content: '/';
    color: #d0d0d0;
    margin: 0 30px;
}

.main-navigation__list-item-link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.main-navigation__list-item-link:hover {
    color: #ffa500;
}

.main-navigation__list-item-link--active {
    color: #ffa500;
}

.main-navigation__list > li {
    position: relative;
}

.main-navigation__sub-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    background-color: #fff;
    width: 200px;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
}

.main-navigation__sub-list::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -20px;
    left: 80px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.main-navigation__sub-list li {
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.main-navigation__sub-list-item-link {
    text-transform: uppercase;
    color: #000;
}

.main-navigation__sub-list-item-link:hover {
    color: #ffa500;
}

.main-navigation__list li:hover ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

/* ! Header end */
/* ! Main start */
.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* section Slider */
.slider {
    padding-left: 170px;
    background: url(../images/slider-bg.jpg);
    background-size: cover;
    background-position-y: 85%;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider__content-title {
    margin-bottom: 35px;
    color: #fff;
}

.slider__content-title-icon {
    margin: 0 4px;
}

.slider__content-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #fff;
    font-size: 1.2em;
}

.slider__content-text-link {
    font-size: 1em;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #fff;
}

.slider__content-text-description {
    margin-bottom: 35px;
}

/* section Our services */
.our-services {
    padding-top: 70px;
}

.our-services__title {
    margin-bottom: 70px;
}

.block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-content__item {
    padding: 25px;
    margin-bottom: 30px;
    width: 555px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.block-content__text {
    width: 395px;
}

.block-content__sub-title {
    margin-bottom: 25px;
}

.block-content__description {
    font-size: 0.875em;
    color: #778899;
    line-height: 1.5em;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.block-content__description--blue {
    color: #00bfff;
}

.block-content__description--green {
    color: #adff2f;
}

.block-content__description-link {
    font-size: 0.875;
    line-height: 1.5em;
    color: #ffa500;
}

.block-content__description-link:hover {
    color: #000;
}

.block-content__icon {
    margin-left: 25px;
    border: 2px solid #e4e4e4;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.block-content__icon:hover {
    border-color: #ffa500;
    color: #ffa500;
    transform: rotate(360deg);
    transition-duration: 0.4s;
    cursor: pointer;
}

.block-content__item:nth-child(even) {
    text-align: left;
    flex-direction: row-reverse;
}

.block-content__item:nth-child(even) .block-content__icon {
    margin-left: 0;
    margin-right: 25px;
}

/* section Some Images */
.some-images {
    padding-top: 70px;
}

.some-images__title {
    margin-bottom: 70px;
}

.cards__list {
    display: flex;
    flex-flow: column wrap;
    max-height: 1700px;
    align-content: space-between;
}

.card {
    width: 360px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all 0.5s linear;
}

.card__container-img {
    position: relative;
}

.card__container-img:hover .overlay-button-block {
    opacity: 1;
    visibility: visible;
}

.card__container-img-picture {
    display: block;
    width: 100%;
}

.overlay-button-block {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s, visibility 0.3s ease-out;
}

.overlay-button-block__btn {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 0.8em;
    border: 1px solid #d0d0d0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.overlay-button-block__btn:hover,
.overlay-button-block__btn:hover a {
    border-color: #ffa500;
    color: #ffa500;
    transition-duration: 0.4s;
    cursor: pointer;
}

.card__description {
    padding: 25px;
}

.card__description-sub-title {
    margin-bottom: 25px;
}

.card__description-date {
    margin-bottom: 10px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 0.8em;
    color: #778899;
}

.card__description-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 0.875em;
    color: #778899;
    line-height: 1.5em;
}

.card__description-text-link:hover {
    color: #000;
}

/* ! Main end */
/* ! Footer start */
.footer {
    padding: 70px 0 100px;
}

.footer__title {
    margin-bottom: 70px;
}

.footer__form-container {
    padding: 22px;
    background-color: #fff;
}

.contact-form {
    max-width: 540px;
}

.contact-form__text {
    margin-bottom: 20px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 0.875em;
    line-height: 1.5em;
}

.contact-form__sub-title {
    margin-bottom: 25px;
}

.contact-form__field {
    margin-bottom: 10px;
    display: flex;
}

.contact-form__field-label {
    width: 150px;
}

.contact-form__field-label::after {
    content: ':';
}

.contact-form__field-input {
    padding: 10px;
    width: 250px;
    border: 1px solid #d0d0d0;
}

.contact-form__field-input:focus {
    outline: none;
    border: 1px solid #000;
}

.contact-form__field-textarea {
    width: 380px;
    max-width: 380px;
    height: 120px;
    min-height: 120px;
}

.contact-form__submit-button {
    margin-left: 150px;
    width: 250px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
}
.contact-form__submit-button:focus {
    outline: none;
    border: 1px solid #000;
}

.contact-form__submit-button:hover {
    border-color: #ffa500;
    color: #ffa500;
    transition: 0.5s;
}

/* ! Footer end */
/* ! Overlay */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s ease;
}

.closed-overlay-container {
    transform: translateY(-100%);
}

.overlay-container__close-button {
    position: absolute;
    font-size: 1.5em;
    top: 40px;
    right: 40px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.overlay-container__text {
    position: relative;
    top: 300px;
    width: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 5em;
    color: #fff;
    text-align: center;
}
