@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ul {
    list-style: none;
}

html,
body {
    font-size: 16px;
    font-weight: 400;
    color: #778899;
    background-color: #efefef;
}

/* ? hidden sub-list in navigation */
.main-navigation__sub-list {
    display: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

/* ! Header start */
.header {
    display: flex;
    flex-direction: column;
}

.header__inner-block {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.logo__text {
    font-size: 2em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.logo__text--orange {
    margin-right: 2px;
    color: #ffa500;
}

.social-block__list {
    display: flex;
}

.social-block__list-item {
    margin: 0 2px;
    font-size: 0.8em;
    border: 1px solid #d0d0d0;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-block__list-item:hover {
    cursor: pointer;
    border-color: #000;
    transition-duration: 0.5s;
}

.header__inner-nav {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-block {
    display: flex;
}

.search-block__btn {
    margin: 2px;
    font-size: 0.8em;
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
}

.search-block__btn:hover {
    border-color: #000;
}

.main-navigation__list {
    display: flex;
}

.main-navigation__list-item {
}

.main-navigation__list > li:not(:first-child)::before {
    content: '/';
    color: #d0d0d0;
    margin: 0 30px;
}

.main-navigation__list-item-link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.main-navigation__list-item-link:hover {
    color: #ffa500;
}

.main-navigation__list-item-link--active {
    color: #ffa500;
}

/* ! Header end */
/* ! Main start */
.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* section Slider */
.slider {
    padding-left: 170px;
    background: url(../images/slider-bg.jpg);
    background-size: cover;
    background-position-y: 85%;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider__content-title {
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.slider__content-title-icon {
    margin: 0 4px;
}

.slider__content-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #fff;
    font-size: 1.2em;
}

.slider__content-text-link {
    font-size: 1em;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #fff;
}

.slider__content-text-description {
    margin-bottom: 35px;
}

/* section Our services */
.our-services {
    padding-top: 70px;
}

.our-services__title {
    margin-bottom: 70px;
    font-size: 1.5em;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

.block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-content__item {
    padding: 25px;
    margin-bottom: 30px;
    width: 555px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.block-content__text {
    width: 395px;
}

.block-content__sub-title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 1.125em;
    color: #000;
}

.block-content__description {
    font-size: 0.875em;
    color: #778899;
    line-height: 1.5em;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.block-content__description--blue {
    color: #00bfff;
}

.block-content__description--green {
    color: #adff2f;
}

.block-content__description-link {
    font-size: 0.875;
    line-height: 1.5em;
    color: #ffa500;
}

.block-content__icon {
    margin-left: 25px;
    border: 2px solid #e4e4e4;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.block-content__icon:hover {
    border-color: #ffa500;
    color: #ffa500;
    transform: rotate(360deg);
    transition-duration: 0.4s;
    cursor: pointer;
}

.block-content__item:nth-child(even) {
    text-align: left;
    flex-direction: row-reverse;
}

.block-content__item:nth-child(even) .block-content__icon {
    margin-left: 0;
    margin-right: 25px;
}
/* ! Main end */
