@import '../../../variables.scss';

.button {
    @include button;
    margin-left: 20px;
    padding: 5px;
    width: 150px;
    border: none;
    background-color: $background-color-2;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    text-transform: uppercase;
    &:hover {
        background-color: $background-color-3;
        color: $color-white;
    } 
}