@import '../../../../variables.scss';

.wrapper {
  padding: 23px 30px;
  background-color: $color-green;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  @include subTitle;
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 10px;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}
