$color-orange: rgba(255, 166, 0, 0.89);
$color-black: #000;

@mixin title {
  font: {
      family: 'Open Sans', sans-serif;
      size: 25px;
      weight: bold;
  }
  color: $color-orange;
}

@mixin text {
  font: {
    family: 'Open Sans', sans-serif;
    size: 14px;
    weight: 400;
  }
  color: $color-black;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  @include text;
}

.title {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
  @include title;
}
