@import '../../variables.scss';

.header {
  padding: 10px;
  background-color: $background-color-header;
}

.contextWrapper {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 5px 10px;
  }
}
